/qrc_application.cpp
/doc/*
/.ui/*
/.moc/*
/.obj/*
/.project
/.svn/*
*.user*
/Makefile
/CMakeCache.txt
/CMakeFiles/*
*.qm
*.cxx
/ui_*.h
/application.qrc.depends
/cmake_install.cmake
/install_manifest.txt
/sir
/sir.cbp
moc_*.cpp
*.moc
/sir_*_test
